<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A283</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreProfileTimestampActionBundle</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bundle.CoreProfileTimestampActionBundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreProfileTimestampActionBundle</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>59003</string>
	<key>CPActionArchitectures</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
	</array>
	<key>CPActionDescription</key>
	<string>Records timestamps - whether of the time at which the trigger fires or, configurably, the times at which the action itself fires.</string>
	<key>CPActionName</key>
	<string>Timestamp</string>
	<key>CPActionProperties</key>
	<dict>
		<key>recordIntervals</key>
		<dict>
			<key>Description</key>
			<string>If enabled, rather than recording an instant snapshot of the time the action will record when it was last fired (for non-interval triggers) or when its trigger was last armed (for interval triggers).  If both this and 'Record Trigger Fire Time' are enabled, the action records the last time it was fired as well as an instantaneous snapshot of the time for each firing.</string>
			<key>Name</key>
			<string>Record Intervals</string>
			<key>Type</key>
			<array>
				<string>CFBoolean</string>
				<string>CFNumber</string>
			</array>
		</dict>
		<key>recordTriggerFireTime</key>
		<dict>
			<key>Description</key>
			<string>If enabled, the action records the time at which the trigger fired.  If disabled, the action records the time at which it itself fires.</string>
			<key>Name</key>
			<string>Record Trigger Fire Time</string>
			<key>Type</key>
			<array>
				<string>CFBoolean</string>
				<string>CFNumber</string>
			</array>
		</dict>
	</dict>
	<key>CPActionUUID</key>
	<string>379D8C0B-A797-4683-8D42-DB66ABDE6104</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A284</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string></string>
</dict>
</plist>
