<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A283</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreProfileReadCounterActionBundle</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bundle.CoreProfileReadCounterActionBundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreProfileReadCounterActionBundle</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>59003</string>
	<key>CPActionArchitectures</key>
	<array>
		<string>i386</string>
		<string>ppc</string>
		<string>x86_64</string>
	</array>
	<key>CPActionDescription</key>
	<string>Records the value of a Counter (Performance Monitor Counter).</string>
	<key>CPActionName</key>
	<string>Read Counter</string>
	<key>CPActionProperties</key>
	<dict>
		<key>counter</key>
		<dict>
			<key>Description</key>
			<string>The Counter to read from.</string>
			<key>Name</key>
			<string>Counter</string>
			<key>Type</key>
			<string>CPCounter</string>
		</dict>
	</dict>
	<key>CPActionUUID</key>
	<string>8446ff4d-9781-4096-926a-63a20468408c</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A284</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string></string>
</dict>
</plist>
