<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A283</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CoreProfileCallstackActionBundle</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bundle.CoreProfileCallstackActionBundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CoreProfileCallstackActionBundle</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>59003</string>
	<key>CPActionArchitectures</key>
	<array>
		<string>i386</string>
		<string>arm</string>
		<string>x86_64</string>
	</array>
	<key>CPActionDescription</key>
	<string>This action records kernel and/or user callstacks from the target thread(s).</string>
	<key>CPActionName</key>
	<string>Callstack</string>
	<key>CPActionProperties</key>
	<dict>
		<key>recordSupervisorStacks</key>
		<dict>
			<key>Description</key>
			<string>Determines whether or not the action records the supervisor callstack.  This is the callstack of the kernel side of the target thread, if there is one.</string>
			<key>Name</key>
			<string>Record Supervisor Stacks</string>
			<key>Type</key>
			<array>
				<string>CFBoolean</string>
				<string>CFNumber</string>
			</array>
		</dict>
		<key>recordUserStacks</key>
		<dict>
			<key>Description</key>
			<string>Determines whether or not the action records the user callstack.  This is the callstack of the usermode side of the target thread, if there is one.</string>
			<key>Name</key>
			<string>Record User Stacks</string>
			<key>Type</key>
			<array>
				<string>CFBoolean</string>
				<string>CFNumber</string>
			</array>
		</dict>
		<key>stackDepth</key>
		<dict>
			<key>Description</key>
			<string>Sets the maximum stack depth to allow for.  Any frames beyond this limit will not be recorded (and the recorded stack marked as truncated).</string>
			<key>Name</key>
			<string>Maximum Stack Depth</string>
			<key>Type</key>
			<string>CFNumber</string>
		</dict>
	</dict>
	<key>CPActionUUID</key>
	<string>FAC949C1-7468-4D3A-8D47-A733F3BDD8D1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A284</string>
	<key>DTSDKName</key>
	<string>macosx10.11internal</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string></string>
</dict>
</plist>
